<config>
	<dateFormat>yyyy-MM-dd</dateFormat>
	<dateSeparator>.</dateSeparator>
	<downloadBaseFolder>c:/devel/logs/</downloadBaseFolder>
	<downloadExtension>.log</downloadExtension>
	<apps>
		<appConfig name="LOCAL">
			<logs>
				<logConfig type="LOCAL" basedir="c:/devel/testdata/">
					<file>server{date}</file>
					<file>other.log</file>
				</logConfig>
			</logs>
		</appConfig>

		<appConfig name="PROD">
			<logs>
				<logConfig type="HTTP" host="prod-logs-portal.com" alias="server001"
					user="guest" pwd="none" basedir="/prod/aux" canBeCompressed="GZ">
					<file>/logs/app/operation.log</file>
					<file>/logs/app/statistics.log</file>
					<file>/logs/app/operation{date}</file>
					<file>/logs/app/statistics{date}</file>
				</logConfig>

				<logConfig type="HTTP" host="prod-logs-portal.com" alias="server002"
					user="guest" pwd="none" basedir="/prod/aux" canBeCompressed="GZ">
					<file>/jboss/logs/server.log{date}</file>
					<file>/oldlogs/app/operation{date}</file>
				</logConfig>
			</logs>
		</appConfig>

		<appConfig name="DEV">
			<logs>
				<logConfig type="SSH" host="dev-logs" user="user" pwd="pwd">
					<file>/jboss/standalone/log/server.log</file>
					<file>/jboss/statistis.log</file>
				</logConfig>
			</logs>
		</appConfig>
	</apps>
</config>