<config>
	<dateFormat>yyyy-MM-dd</dateFormat>
	<dateSeparator>.</dateSeparator>
	<downloadBaseFolder>c:/devel/logs/</downloadBaseFolder>
	<downloadExtension>.log</downloadExtension>
	<apps>
		<appConfig name="LOCAL">
			<logs>
				<logConfig type="LOCAL" basedir="c:/devel/testdata/">
					<file>test.log</file>
				</logConfig>
				<logConfig type="LOCAL" basedir="c:/devel/testdata/" canBeCompressed="GZ">
					<file>apache_logs/error.log{date}</file>
				</logConfig>
			</logs>
		</appConfig>

		<appConfig name="PROD">
			<logs>
				<logConfig type="HTTP" host="https://github.com/agustin-miquel/LogBrowser" alias="github"
					user="agustinmiquel@yahoo.es" pwd="Github123" basedir="/blob/master/" canBeCompressed="GZ">
					<file>pom.xml</file>
					<file>config.xml</file>
				</logConfig>
			</logs>
		</appConfig>

		<appConfig name="DEV">
			<logs>
				<logConfig type="SSH" host="ftp.cesca.es" user="anonymous" pwd="">
					<file>/centos/2.1/readme.txt</file>
				</logConfig>
			</logs>
		</appConfig>
	</apps>
</config>